<div layout="row" class="main-admin">

    <div flex="20">

        <md-toolbar class="md-primary" ng-click="adminCtrl.goToHome()">
            <div class="md-toolbar-tools" >
                <md-list-item layout="row" >
                    <img ng-src="{{adminCtrl.ufcgBrasao}}" class="md-avatar">
                    <h1 flex md-truncate>SAD UFCG</h1>
                    <img ng-src="{{adminCtrl.ccBrasao}}" class="md-avatar">
                </md-list-item>
            </div>
        </md-toolbar>
        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-repeat="page in adminCtrl.pages"ng-click="adminCtrl.goTo(page.state)">
                <md-icon class="icon-menu">{{page.icon}}</md-icon>
                <p>{{page.title}}</p>
            </md-list-item>
        </md-list>
    </div>

    <div flex>
        <md-content class="content">
            <div ui-view="content"></div>
        </md-content>
    </div>
    
</div>