<md-content class="md-no-momentum" ng-init='aplicarQuestionarioCtrl.getQuestionarios()'>

        <md-toolbar md-scroll-shrink>
            <div style="font-size: 30px" class="md-toolbar-tools">Aplicar Questionário</div>
        </md-toolbar>

    <h3 class="md-title">Selecione um Questionário</h3>

    <md-input-container>
        <md-select ng-model="aplicarQuestionarioCtrl.questionarioSelecionado" placeholder="Selecione um Questionário">
            <md-option ng-value="questionario" ng-repeat="questionario in aplicarQuestionarioCtrl.questionarios">{{ questionario.nome }}</md-option>
        </md-select>
    </md-input-container>

    <h1 class="md-title">Selecione a(s) Disciplina(s)</h1>

    <md-list-item>
        <p>Selecionar</p>
        <p>Nome</p>
        <p>Turma</p>
        <p>Período</p>
    </md-list-item>
    <md-list-item ng-repeat="disciplina in aplicarQuestionarioCtrl.disciplinas">
        <md-checkbox data-ng-model="disciplina.aplicar"></md-checkbox>
        <p> {{ disciplina.nome }}</p>
        <p> {{ disciplina.turma }}</p>
        <p> {{ disciplina.semestre }} </p>
    </md-list-item>

</md-content>

<md-content>
    <md-button class="md-raised md-primary" 
    data-ng-click="aplicarQuestionarioCtrl.aplicarQuestionario()"> Aplicar Questionário</md-button>
</md-content>
