<md-content class="md-no-momentum" ng-init='aplicarQuestionarioCtrl.getQuestionarios()'>

    <md-toolbar md-scroll-shrink>
        <div style="font-size: 30px" class="md-toolbar-tools">Aplicar Questionário</div>
    </md-toolbar>

    <h3 class="md-title">Selecione um Questionário</h3>

    <md-input-container>
        <md-select ng-model="aplicarQuestionarioCtrl.questionarioSelecionado" placeholder="Selecione um Questionário">
            <md-option><em>Selecione um questionario</em></md-option>
            <md-option ng-value="questionario" ng-repeat="questionario in aplicarQuestionarioCtrl.questionarios">{{ questionario.nome }}</md-option>
        </md-select>
    </md-input-container>

    <h1 class="md-title">Selecione a(s) Disciplina(s)</h1>

    <md-list class="listagem">
        <md-list-item>
            <p flex="5"></p>
            <p flex="30">Nome</p>
            <p flex="30">Turma</p>
            <p flex="30">Período</p>
        </md-list-item>
        <md-list-item ng-repeat="disciplina in aplicarQuestionarioCtrl.disciplinas">
            <md-checkbox data-ng-model="disciplina.aplicar"></md-checkbox>
            <p flex="30"> {{ disciplina.nome }}</p>
            <p flex="30"> {{ disciplina.turma }}</p>
            <p flex="30"> {{ disciplina.semestre }} </p>
        </md-list-item>
    </md-list>
</md-content>

<md-content>
    <md-button class="md-raised md-primary" data-ng-click="aplicarQuestionarioCtrl.aplicarQuestionario()"> Aplicar Questionário</md-button>
</md-content>