<div class="home-body">

    <div class="image-card" align="center">
        <img src="view/img/brasaoUfcg.png"></img>
    </div>

    <div class="presentation-card" align="center">
        <p>Sistema de Avaliação Docente</p>
    </div>

    <div align="center">
        <div class="col-md-6 col-md-offset-3 no-margin">
            <div class="instructions-card">
                <h3 class="introducion-text"> Muito obrigado, sua resposta foi recebida com sucesso! </h3>
            </div>
        </div>
    </div>

</div>
