<md-content class="cadastra-turmas">

    <md-subheader class="md-accent"> Cadastrar Turmas</md-subheader>

    <br>

    <div layout="column" class="input-csv-files">
        <lf-ng-md-file-input lf-files="cadastraTurmasCtrl.files" 
                             lf-option="optoin08" 
                             lf-placeholder="Adicione os arquivos csv" 
                             lf-browse-label="Selecionar Arquivo (s)" 
                             lf-remove-label="Apagar todos"
                             lf-submit-label="Enviar"
                             lf-on-submit-click="cadastraTurmasCtrl.onSubmitClick"
                             lf-drag-and-drop-label="Arraste os arquivos das turmas aqui!"
                             multiple drag preview submit></lf-ng-md-file-input>
    </div>


</md-content>