<md-content class="cadastra-turmas">


    <section>
        <div layout="column" class="input-csv-files">
            <lf-ng-md-file-input lf-files="cadastraTurmasCtrl.files" lf-option="optoin08" lf-placeholder="Adicione os arquivos csv" lf-browse-label="Pesquisa"
                lf-remove-label="Apagar todos" lf-submit-label="Enviar" lf-on-submit-click="cadastraTurmasCtrl.onSubmitClick"
                lf-drag-and-drop-label="Arraste os arquivos das turmas aqui!" multiple drag preview submit></lf-ng-md-file-input>
        </div>

    </section>

</md-content>