<md-content>

    <!-- Header Home -->
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <div class="row card-toolbar" layout="row" layout-align="center center">
                <div class="col-xs-4 col-sm-4">UFCG</div>
                <div class="col-xs-4 col-sm-4">Disciplina: {{formCtrl.curso}}</div>
                <div class="col-xs-4 col-sm-4">2017.1</div>
            </div>
        </div>
    </md-toolbar>

    <section class="home" ng-if="formCtrl.inHome">
        <div ng-include="'view/home.html'">
        </div>
    </section>

    <section ng-if="!formCtrl.inHome" layout="column" layout-align="center stretch">

        <!-- Question card -->
        <sad-question-card question="formCtrl.actual_question" radio-question="formCtrl.radio_question" text-question="formCtrl.text_question"
            number-question="formCtrl.numberQuestion"></sad-question-card>




        <!-- Form Footer -->
        <footer class="card-footer" layout="column" layout-align="center stretch">
            <div class="question-card">
                <div class="row">
                    <div class="col-xs-6 col-md-8">
                        <div layout="column" layout-align="center stretch">
                            <div layout="row" layout-align="start start">
                                <span>{{formCtrl.numberQuestion}} de {{formCtrl.numberOfQuestions}} perguntas</span>
                            </div>
                            <div layout="row" layout-align="start start">
                                <md-progress-linear md-mode="determinate" value="{{formCtrl.determinateValue}}"></md-progress-linear>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <div layout="row" layout-align="end center">
                            <md-button class="md-smaller card-button-box" ng-click="formCtrl.previous()">
                                <md-icon class="card-button">keyboard_arrow_up</md-icon>
                            </md-button>
                            <md-button class="md-smaller card-button-box" ng-disabled="!formCtrl.radio_question[formCtrl.actual_question.id]" ng-click="formCtrl.next()">
                                <md-icon class="card-button">keyboard_arrow_down</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </section>

</md-content>