<div class="home-body">

    <div class="image-card" align="center">
        <img src="view/img/brasaoUfcg.png"></img>
    </div>

    <div class="presentation-card" align="center">
        <p>Sistema de Avaliação Docente</p>
    </div>

    <div class="row" align="center">
        <div class="col-md-6 col-md-offset-3 no-margin">
            <div class="instructions-card">

                <h6 class="introduction-text">
                    A avaliação é totalmente <b>anônima, segura e confidencial</b>. Portanto, sinta-se
                    à vontade para avaliar. Lembre-se: críticas construtivas são o melhor caminho para
                    o avanço e melhoria do curso.
                </h6>

                <h6 h6 class="introduction-text">
                    Responda a TODAS as questões para termos uma avaliação completa. Questionários parciais não são considerados em nossa avaliação.
                </h6>

                <h6 class="introduction-text">
                    Você deve votar escolhendo uma nota entre 1 <b>(Discordo plenamente)</b> e 5 <b>(Concordo totalmente)</b>
                    para os quesitos nas próximas páginas.
                </h6>

                <p class="rules-text">
                    Você também pode responder a este formulário confortavelmente pelo seu <i>smartphone</i>.
                </p>

                <div id="iniciar" layout="row" layout-align="center center">
                    <div layout="row" layout-align="center center">
                        <button ng-click="newformCtrl.iniciar()">iniciar</button>
                        <p>&nbsp;&nbsp;pressionar <b>ENTER</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
