<!-- View -->
<md-content>
    <!--
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <div class="row card-toolbar" layout="row" layout-align="center center">
                <div class="col-xs-4 col-sm-4">UFCG</div>
                <div class="col-xs-4 col-sm-4">Disciplina: {{newformCtrl.disciplina.nome}}</div>
                <div class="col-xs-4 col-sm-4">{{newformCtrl.disciplina.semestre}}</div>
            </div>
        </div>
    </md-toolbar>
    -->
    <div flex ui-view="content"></div>

</md-content>
