<md-content>
  <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
          <span>Turmas</span>
      </div>
  </md-toolbar>

  <div>
    <md-chips ng-model="visualizarRespostaCtrl.disciplinas" readonly="false"
              md-removable="false" md-require-match="true" md-highlight-flags="i">
    </md-chips>
  </div>

  <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
          <span>Respostas</span>
      </div>
  </md-toolbar>

  <p>{{visualizarRespostaCtrl.questionariosAplicados[0].respostas}}</p>

<md-content>
