<md-content>
  <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
          <span>Escolha o Questionário para visualizar as respostas</span>
      </div>
  </md-toolbar>
  <md-list class="listagem" ng-cloak>
      <md-list-item>
          <p flex="30">Nome</p>
          <p flex="30">Data de Criação</p>
          <p flex="30">Autor</p>
      </md-list-item>
      <md-list-item ng-repeat="questionario in visualizarRespostasCtrl.questionarios"
                    ng-click="visualizarRespostasCtrl.irParaResposta(questionario.id)">
          <p flex="30"> {{ questionario.nome }}</p>
          <p flex="30"> {{ questionario.dataCriacao }}</p>
          <p flex="30"> {{ questionario.autor.nome }} </p>
      </md-list-item>
  </md-list>
<md-content>
