<md-content class="md-no-momentum" ng-init="visualizarRespostasCtrl.getQuestionarios()">
    <md-toolbar md-scroll-shrink>
        <div style="font-size: 30px" class="md-toolbar-tools">Respostas</div>
    </md-toolbar>

    <h3 class="md-title">Selecione um Questionário</h3>

    <!--md-input-container>
        <md-select ng-model="visualizarRespostasCtrl.questionarioSelecionado" placeholder="Selecione um Questionário">
            <md-option ng-value="questionario" ng-repeat="questionario in visualizarRespostas.questionarios">{{ questionario.nome }}</md-option>
        </md-select>
    </md-input-container-->
</md-content>