/* app css stylesheet */

a {
	color: #333;
	font-color: #333;
}

.form-horizontal .radio-inline {
  padding-top: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 30px;
  color: #777;
  background:  #428bca;



}


#formAnswer{
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#formAnswer h1 {
  display: block;
  font-size: 35px;
  font-weight: 300px;
  margin-bottom: 7px;
  text-align: center;
}

.page-header {
  margin-left:20px;
}
  
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.nav-tab a:hover{
  color: #428bca;
  background: #ffffff;

}

.container{
  margin:auto;
  max-width: 1000px;
  border: 8px;
  padding: 5px;
}

.tab-content{
    border: 5px;
    width: 950px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 25px;
}
.formLine{
  color: #333;
  font-color: #333;
  padding: 5px;
}

.tabs-container {
    position:relative;
    right: -50px;
}

.textOverflow{
   width: 800px;
   word-wrap: break-word;
   color: black;
}

.form-control{
  margin-bottom: 5px;
}

.bottomAdd{
  width: 200px;
}

.selected{
  background-color: #428bca;
  color: white;
}

.navbar-nav{
  color:white;
}

.nav-link{
  color:white;
}


.bottomAdd{
  width: 200px;
}

.selected{
  background-color: #99ccff;
  color: white;
}

.tab-form{
  padding: 5px;
  border: 5px;
  width: 800px;
}  


.rodape{
  border: 7px;
  margin: auto;
}
