@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.main-admin{
    font-family: 'Source Sans Pro', sans-serif;
}

.header-subtitle {
    font-size: 30px;
}

.main-admin .md-toolbar-tools {
    padding: 1%;
    background-color:white;
    text-align: center;
    color: indigo;
}

.material-icons.icon-menu {
    font-size: 28px;
    vertical-align: middle;
}

.main-admin md-list {
    margin-right: 1%;
    margin-left: 1%;
}

.main-admin md-list md-list-item:hover {
    background-color: #82b1ff;
    color: white;
}

.main-admin .md-avatar {
    height: 50px;
    width: 50px;
    border-radius: 0px;
}

.main-admin md-divider {
    margin: 4%;
}

.main-admin .content {
    position: relative;
    margin: 3%;
}

md-content {
    background-color: transparent;
}

.input-csv-files{
    width: 70%;
}

.cadastra-turmas {
    margin: 2%;
    background-color: transparent;
}

.listagem {
    margin-left: 4%;
    width: 70%;
}

.listagem-questionarios md-whiteframe {
    background: #fff;
    margin: 30px;
    height: 100px;
}

.formulario {
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.form-header {
  padding: 1%;
}

.center {
    margin: auto;
    width: 80%;
}

.fix-to-top {
  position: fixed;
  top: 0;
}


 .text-capitalize {
  text-transform: capitalize; }

 .md-fab:hover, .md-fab.md-focused {
  background-color: #000 !important; }

 p.note {
  font-size: 1.2rem; }
