

<div class="container formLine">
	<div class="container-tab">
		<div class = "tab-content">
			<h1>Novo Questionário</h1>
			<p>Caro Professor, este é o local de criar seu questionário.</p>
			<form class="form" role="form">
				<table class="table" ng-show="questions.length > 0">
					<thead class="thead-inverse">
						<tr class="text-left">
							<th></th>
							<th>Questões</th>
							<th>Tipo</th>
							<th>Editar</th>
						</tr>
					</thead>
						<!--ng-repeat-->
						<tr ng-class="{selected: question.selected}" ng-repeat="question in questions">
							<td><input type="checkbox" ng-model="question.selected"/></td>
							<th>{{ question.message }}</th>
							<th>{{ question.type }}</th>
							<th><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></button></th>
						</tr>
					
				</table>
				</hr>

				<!--MODAL-->

				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div>
							<div class="modal-content">
								<div class="modal-header">
									<!--HEADER-->	
								</div>
								<div class="modal-body">
									<!--BODY-->
								</div>
								<div class="modal-footer">
									<!--Footer-->
								</div>
							</div>
						</div>
					</div>

				</div>


				<!--place the input fields-->
				<input class = "form-control" type = "text" ng-model = "question.message" placeholder = "Questão"/>
				<select class = "form-control" ng-model="question.type" ng-options = "type for type in types">
					 <option value = "">Selecione um tipo de questão</option>
				</select>
				<!--pass as parameter message and the type of question-->
				<div class="bottomAdd" style="text-align: center;">
					<button class = "btn btn-primary btn-block" ng-click = "addQuestion(question)" ng-disabled = "!question.message || !question.type">
						Adicionar Questão
					</button> 
					<button class = "btn btn-danger btn-block" ng-click = "deleteQuestion(questions)" ng-show="isQuestionSelected(questions)">
						    Apagar Questão
					</button>
				</div>	

			</form>
		</div>	
	</div>
</div>	
