
<div class="container formLine">
	<div class="container-tab">
		<div class="tab-container">
			<h1>Questionário de Avaliação da Docência</h1>
			<h3 class="text-center">Nome da Disciplina</h3>

			<div>
				<!-- Trigger the modal with a button -->
				<table class="table">

					<tr>
						<th></th>
						<th class="col-md-3">Professor</th>
						<th class="col-md-9">Disciplina</th>
					</tr>

					<tr ng-repeat="course in courses track by $index" >
						<td></td>
						<td>{{course.name}}</td>	
						<td><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" ng-click="loadQuiz(course)">{{course.courseName}}</button></td>
					</tr>

				</table>	

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">


						<!-- Modal content-->
						<div class="modal-content">
							
							<!--Body-->
							<div class="modal-body">
								<form name="quizForm" class="form" role="form">
									<div ng-repeat="question in quiz.questions">
										<div class="form-group row">	

											<div class="col-md-6">
												<label for="email">{{question.enunciado}}</label>

												<div class = "radio" ng-repeat="answer in question.options">	

													<label class="textOverflow">
														<span>
															<input type="radio" name="option_question_{{question.id}}" ng-model="question.selected_id" ng-value="answer.ordId">
															{{answer.value}}
														</span>
													</label>
												</div>	
											</div>
											<div class="col-md-6">
												<label for="comment">Comentários:</label>
												<br>
												<textarea class="form-control" rows="6" id="comment" placeholder="Comente!"></textarea>
											</div>
										</div>													
									</div>
									<div class="modal-footer">
										<button ng-click="sendAnswer()" class="btn btn-primary" data-dismiss="modal">Enviar Respostas</button> 
										<button type="button" class="btn btn-default"  data-dismiss="modal">Fechar</button>
									</div>

								</form>
							</div>

							
						</div>

					</div>
				</div> <!--End of modal-->
			</div>	
		</div>
	</div>		
	
</div>
