
<div class="container formLine">
    <div>
        <h1>Cadastro de Nova Turma</h1>
        <p>Caro administrador, preencha os campos a seguir para cadastrar uma nova turma.</p>
    </div>
	<div class="tab-content">
		        
        <div class="tab-form">
            
            <div class ="form-group row">
                <label for="id" class='col-sm-2 col-form-label'>ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Digite o ID da turma" ng-model="group.id"> 
                </div>
                <label for="year" class="col-sm-1 col-form-label">Ano</label>
                <div class="col-sm-2">
                    <select class = "form-control" ng-model="group.year" ng-options = "years for years in years">
                         <option value = "">Ano</option>
                     </select>
                </div>

                <label for="semester" class="col-sm-1 col-form-label">Período</label>
                <div class="col-sm-2">
                    <select class="form-control" id="exampleSelect1" ng-model="group.semester">
                        <option value ="">Semestre</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
            </div>

            <div class ="form-group row">
                <label for="id" class='col-sm-2 col-form-label'>Disciplina</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="group.matter" id="mattersInput" placeholder="Nome da disciplina"> 
                </div>
            </div>

            <div class ="form-group row">
                <label for="id" class='col-sm-2 col-form-label'>Professor(a)</label>
                <div class="col-sm-10">
                    <select class = "form-control" ng-model="group.teacher" ng-options = "teachers.name for teachers in teachers">
                         <option value = "">Professor(a)</option>
                     </select> 
                </div>
            </div>

            <div class="form-group row">
                <label for="csv" class="col-sm-2 col-form-label">CSV </label>
                <div class="col-sm-6">
                     <input type="file" nv-file-select="" uploader="uploader" />
                </div>
            </div>

            <div class="form-group row" style="margin-top: 40px">

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Nome</th>
                            <th ng-show="uploader.isHTML5">Tamanho</th>
                            <th ng-show="uploader.isHTML5">Progresso</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="fa fa-thumbs-o-up"></i></span>
                                <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                <span ng-show="item.isError"><i class="fa fa-times"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="fa fa-cloud-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="fa fa-trash-o"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        <small id="emailHelp" class="form-text text-muted">Barra de progresso.</small>
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Salvar
                    </button>
                    
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remover
                    </button>
                </div>

            </div>

        </div>

    </div>
</div>