<div class="container formLine">
	<div class="container-tab">
		<div class="tab-container">
			<h2>Disciplina: {{curso}}</h2>
			<div>
				<form name="quizForm" class="form-horizontal" role="form">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="col-md-12">
								<div class="col-md-12">Obrigado por participar da
									avaliação docente. Escolha uma nota de 1 (Discordo plenamente)
									a 5 (Concordo plenamente) para cada quesito abaixo. Lembrando, a participação é anônima.
								</div>
								<br />	
								<hr />
								<div class="col-md-7">
									<label for="padrao">Iniciar todas as respostas de
										múltipla escolha abaixo como...</label>
								</div>
								<div class="col-md-5">
									<label class="radio-inline"> <input type="radio"
										name="padrao" value="1" ng-click="selectAll(1)"> 1
									</label> <label class="radio-inline"> <input type="radio"
										name="padrao" value="2" ng-click="selectAll(2)"> 2
									</label> <label class="radio-inline"> <input type="radio"
										name="padrao" value="3" ng-click="selectAll(3)"> 3
									</label> <label class="radio-inline"> <input type="radio"
										name="padrao" value="4" ng-click="selectAll(4)"> 4
									</label> <label class="radio-inline"> <input type="radio"
										name="padrao" value="5" ng-click="selectAll(5)"> 5
									</label> <label class="radio-inline"> <input type="radio"
										name="padrao" value="-1" ng-click="selectAll(-1)"
										checked="checked"> N/A
									</label>
								</div>
							</div>
						</div>
						<hr />
						<div ng-repeat="question in quiz">
							<div class="form-group row">
								<div class="col-md-12" ng-if="question.tipoResposta == 'TEXTO'"
									ng-show='visible[question.id]'>
									<label>{{question.enunciado}}</label>
									<textarea class="form-control" rows="2"
										ng-model="text_question[question.id]"
										id="option_question_{{question.id}}" placeholder="opcional"></textarea>
								</div>
								<div class="col-md-12"
									ng-if="question.tipoResposta == 'SELECAO'"></div>
								<div class="col-md-12"
									ng-if="question.tipoResposta == 'MULTIPLA_ESCOLHA'"
									ng-init="radio_question[question.id]=-1" class="form-group">
									<div class="col-md-7">
										<label>{{question.enunciado}}</label>
									</div>
									<div class="col-md-4">
										<label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="1"> 1
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="2"> 2
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="3"> 3
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="4"> 4
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="5"> 5
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="radio_question[question.id]"
											name="option_question_{{question.id}}" value="-1">N/A
										</label>
									</div>
									<div class="col-md-1">
										<a href="" ng-click="toggle(visible, question.id + 1)">Comentar...</a>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button ng-click="sendAnswer(token)" class="btn btn-primary"
								data-dismiss="modal">Enviar Respostas</button>
							<button ng-click="sendNegar(token)" class="btn btn-danger"
								data-dismiss="modal">Não quero/posso opinar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>