<div class="container"  id="formAnswer">
	<!--header-->
	<div class="modal-header ">

		<div class="page-header row">
			<div class="col-md-2">
				<a href="http://www.ufcg.edu.br/index1.php"><img src="views/img/brasaoUfcg.png" alt="Universidade Federal de Campina Grande"></a>

			</div>

			<div class="col-md-8"><h1>Sistema de Avaliação Docente</h1></div>

			<div class="col-md-2">
				<a href="http://www.dsc.ufcg.edu.br"><img src="views/img/dsc.png" alt="Universidade Federal de Campina Grande"></a>

			</div>
		</div>

		<div>
			<h2><small>Disciplina:</small> {{curso}}</h2>
			<p><strong>Observação:</strong> Escolha uma nota de 1 (Discordo plenamente)
					a 5 (Concordo plenamente) para cada quesito abaixo. Lembrando, a participação é <strong><big>anônima</big></strong>.</p>
			<div class="panel-group" id="accordion">
				<div class="panel panel-info">
					<div data-placement="bottom" >
						<h4 class="text-center" data-toggle="collapse" title='Clique para expandir ou colapsar'  data-parent="#accordion" data-target="#info">Informações gerais para todas as turmas:</h4>
					</div>

					<div id="info" class="panel-collapse collapse in">
						<div class="panel-body">
						<div class="col-md-12">
							<p><strong>Alguns avisos para responderem aos questionários:</strong></p>
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>1</td>
										<td><p>Responda de forma sincera e é importantíssimo que você inclua detalhes nos campos de comentários! Precisamos desses detalhes para reivindicar melhorias específicas no ensino da disciplina junto à coordenação.</p></td>
									</tr>
									<tr>
										<td>2</td>
										<td><p>Responda a TODAS as questões para termos uma avaliação completa. Questionários parciais não são considerados em nossa avaliação.</p></td>
									</tr>
									<tr>
										<td>3</td>
										<td><p>Fornecemos um questionário por disciplina, então se você cursou 5 disciplinas em 2016.1, deve responder 5 questionários (links e emails distintos).</p></td>
									</tr>
									<tr>
										<td>4</td>
										<td><p>Além de avaliar o professor, avaliem também as salas e laboratórios apresentando detalhes dos problemas encontrados.</p></td>
									</tr>
									<tr>
										<td>5</td>
										<td><p>Esse é o principal mecanismos que vocês possuem para reivindicar melhorias na infraestrutura, material e qualidade do aprendizado nas disciplinas durante o curso. Esperamos uma participação efetiva, pois apenas com uma alta participação dos alunos podemos cobrar mudanças importantes para a experiência acadêmica de vocês no nosso curso.</p></td>
									</tr>



								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="alert alert-info" role="alert">
<!--Resposta rápida-->	
		<div class="form-group row">

			<div class="col-md-12">
				<div class="col-md-12"><big></big>
				</div>

			
				</br>
				</hr>
				
				<div class="col-md-7">
					<label for="padrao">Iniciar todas as respostas de
						múltipla escolha abaixo como...</label>
				</div>
				<div class="col-md-5">
					<label class="radio-inline"> <input type="radio"
						name="padrao" value="1" ng-click="selectAll(1)"> 1
					</label> <label class="radio-inline"> <input type="radio"
						name="padrao" value="2" ng-click="selectAll(2)"> 2
					</label> <label class="radio-inline"> <input type="radio"
						name="padrao" value="3" ng-click="selectAll(3)"> 3
					</label> <label class="radio-inline"> <input type="radio"
						name="padrao" value="4" ng-click="selectAll(4)"> 4
					</label> <label class="radio-inline"> <input type="radio"
						name="padrao" value="5" ng-click="selectAll(5)"> 5
					</label> <label class="radio-inline"> <input type="radio"
						name="padrao" value="-1" ng-click="selectAll(-1)"
						checked="checked"> N/A
					</label>
				</div>
			</div>

		</div>
	<!--Fim da resposta rápida-->
	</div>
	<!--Body-->
	<div class="modal-body">
		<form name="quizForm" class="form-horizontal" role="form">
			<div ng-repeat="question in quiz">
				<div class="row list-group">

					<div class="col-md-12" ng-if="question.tipoResposta == 'TEXTO'"
						ng-show='visible[question.id]'>
						<textarea class="form-control" rows="1"
							ng-model="text_question[question.id]"
							id="option_question_{{question.id}}" placeholder="opcional"></textarea>
					</div>
					
					<div class="col-md-12 list-group-item"
						ng-if="question.tipoResposta == 'MULTIPLA_ESCOLHA'"
						ng-init="radio_question[question.id]=-1">

						<div class="col-md-6">
							<label>{{question.enunciado}}</label>
						</div>

						<div class="col-md-4">
							<label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="1"> 1
							</label> <label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="2"> 2
							</label> <label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="3"> 3
							</label> <label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="4"> 4
							</label> <label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="5"> 5
							</label> <label class="radio-inline"> <input type="radio"
								ng-model="radio_question[question.id]"
								name="option_question_{{question.id}}" value="-1">N/A
							</label>
						</div>

						<div class="col-md-2">
							<a ng-click="toggle(visible, question.id + 1)">Comentarios</a>
						</div>

					</div>
				</div>
			</div>
		</form>	
		
	</div>
	<div class="modal-footer">
		<button ng-click="sendAnswer(token)" class="btn btn-primary"
		data-dismiss="modal">Enviar Respostas</button>
		<button ng-click="sendNegar(token)" class="btn btn-danger"
		data-dismiss="modal">Não quero/posso opinar</button>
	</div>

</div>